name: Deploy via SSH

on:
  push:
    branches:
      - prod
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ashahzad/survai-platform &&
            export DB_HOST='${{ secrets.DB_HOST }}' &&
            export DB_PORT='${{ secrets.DB_PORT }}' &&
            export DB_USER='${{ secrets.DB_USER }}' &&
            export DB_PASSWORD='${{ secrets.DB_PASSWORD }}' &&
            export OPENAI_API_KEY='${{ secrets.OPENAI_API_KEY }}' &&
            export MAILERSEND_API_KEY='${{ secrets.MAILERSEND_API_KEY }}' &&
            export MAILERSEND_SENDER_EMAIL='${{ secrets.MAILERSEND_SENDER_EMAIL }}' &&
            export VAPI_API_KEY='${{ secrets.VAPI_API_KEY }}' &&
            export DEEPGRAM_API_TOKEN='${{ secrets.DEEPGRAM_API_TOKEN }}' &&
            git pull &&
            docker compose up -d --build